body {
    background: #f5f7fb;
    font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
    background: linear-gradient(90deg, #0d6efd, #6610f2);
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

/* Cards */
.card {
    border-radius: 12px;
    border: none;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

/* Buttons */
.btn-primary {
    background: linear-gradient(90deg, #0d6efd, #6610f2);
    border: none;
}

/* Footer */
footer {
    background: #212529;
    color: white;
    text-align: center;
    padding: 10px;
}
